.MoviesPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.footer{
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: center;
}